*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* body{
    background-color: red;
}   */


.navbar .nav-links{
    display: none;
}
/* #S1{
    /* display: block;
    height: auto; */
    /* overflow: hidden; */
 

 
  
.S1left .S1right{
    display: none;
}
.S1 .S1left{
    flex: auto;
}

.plan-boxs{
    flex-wrap: wrap;
    width: 500px;
}
.plan-boxs .plan-1 , .plan-2 , .plan-3{
    flex: auto;
}
.plans-content{
    width: auto;
    flex-direction: row;
    height: 550px;
    width: 350px;
    flex-wrap: wrap;
}

/* Responsive design */

@media (max-width: 768px) {
    /* Adjust layout for tablets and small laptops */
    .container {
      max-width: 90%;
    }
    .nav-links {
      flex-wrap: wrap;
    }
    .S1left, .S1right {
      flex-direction: column;
    }
    .float-l-con {
      flex-direction: column;
    }
    .signup-container {
      flex-direction: column;
    }
    .plan-boxs {
      flex-wrap: wrap;
    }
    .patani {
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    /* Adjust layout for mobile devices */
    .container {
      max-width: 95%;
    }
    .nav-links {
      flex-direction: column;
    }
    .S1left, .S1right {
      flex-direction: column;
    }
    .float-l-con {
      flex-direction: column;
    }
    .signup-container {
      flex-direction: column;
    }
    .plan-boxs {
      flex-direction: column;
    }
    .patani {
      flex-direction: column;
    }
  }